@{
    ViewBag.Title = "Home Page";
}

<section class="mbr-section mbr-section-hero mbr-section-full mbr-section-with-arrow mbr-parallax-background" id="header1-1" data-rv-view="2"
         style="background-image: url(../../Scripts/assets/images/20170528-computer-2000x1125.jpg);">



    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

                    <h1 class="mbr-section-title display-1">FULL SCREEN INTRO</h1>
                    <p class="mbr-section-lead lead">Click any text to edit or style it. Click blue "Gear" icon in the top right corner to hide/show buttons, text, title and change the block background. <br> Click red "+" in the bottom right corner to add a new block. Use the top left menu to create new pages, sites and add extensions.</p>
                    <div class="mbr-section-btn"><a class="btn btn-lg btn-primary" href="http://www.onedot.red:8008">CLICK TO EDIT</a> <a class="btn btn-lg btn-white btn-white-outline" href="http://www.onedot.red:8008">CLICK TO EDIT</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#footer1-2"><i class="mbr-arrow-icon"></i></a></div>

</section>







<section class="mbr-cards mbr-section mbr-section-nopadding" id="features6-2" data-rv-view="7" style="background-color: rgb(239, 239, 239);">

    <div class="container">

        <div class="mbr-cards-row row">
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="http://www.onedot.red:8008" class="etl-icon icon-desktop mbr-iconfont mbr-iconfont-features3"></a></div>
                        <div class="card-block">
                            <h4 class="card-title">Bootstrap 4</h4>

                            <p class="card-text">Bootstrap 4 has been noted as one of the most reliable and proven frameworks and onedot has been equipped to develop websites using this framework.</p>
                            <div class="card-btn"><a href="http://www.onedot.red:8008" class="btn btn-primary">MORE</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="http://www.onedot.red:8008" class="etl-icon icon-mobile mbr-iconfont mbr-iconfont-features3"></a></div>
                        <div class="card-block">
                            <h4 class="card-title">Responsive</h4>

                            <p class="card-text">One of Bootstrap 4's big points is responsiveness and onedot makes effective use of this by generating highly responsive website for you.</p>
                            <div class="card-btn"><a href="http://www.onedot.red:8008" class="btn btn-primary">MORE</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><a href="http://www.onedot.red:8008" class="etl-icon icon-pencil mbr-iconfont mbr-iconfont-features3"></a></div>
                        <div class="card-block">
                            <h4 class="card-title">Web Fonts</h4>

                            <p class="card-text">Google has a highly exhaustive list of fonts compiled into its web font platform and onedot makes it easy for you to use them on your website easily and freely.</p>
                            <div class="card-btn"><a href="http://www.onedot.red:8008" class="btn btn-primary">MORE</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>















<section class="mbr-section mbr-parallax-background" id="testimonials1-3" data-rv-view="10"
         style="background-image: url(../../Scripts/assets/images/couple-on-a-tropical-beach-at-maldives2-2000x1058.jpg); padding-top: 120px; padding-bottom: 120px;">

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(34, 34, 34);">
    </div>

    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">WHAT OUR FANTASTIC USERS SAY</h3>
                    <small class="mbr-section-subtitle">Shape your future web project with sharp design and refine coded functions.</small>
                </div>
            </div>
        </div>
    </div>


    <div class="mbr-testimonials mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“its really very amazing app that makes me finish html page in 3 minutes ( that's usually takes more than 1 hours at least from me if i did it from scratch). i hope to have very big library and plugins for this APP thanks again for your nice application”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="~/Scripts/assets/images/face3.jpg" class="img-circle"></div>
                            <div class="mbr-author-name">Abanoub S.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div><div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“First of all hands off to you guys for your effort and nice, super tool. Good work onedot team. We are expecting the new version soon with advance functionality with full bootstrap design. Great effort and super UI experience with easy drag &amp; drop with no time design bootstrap builder in present web design world.”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="~/Scripts/assets/images/face1.jpg" class="img-circle"></div>
                            <div class="mbr-author-name">Suffian A.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div><div class="col-xs-12 col-lg-4">

                    <div class="mbr-testimonial card mbr-testimonial-lg">
                        <div class="card-block"><p>“At first view, looks like a nice innovative tool, i like the great focus and time that was given to the responsive design, i also like the simple and clear drag and drop features. Give me more control over the object's properties and ill be using this tool for more serious projects. Regards.”</p></div>
                        <div class="mbr-author card-footer">
                            <div class="mbr-author-img"><img src="~/Scripts/assets/images/face2.jpg" class="img-circle"></div>
                            <div class="mbr-author-name">Jhollman C.</div>
                            <small class="mbr-author-desc">User</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features3-h" data-rv-view="20" style="background-color: rgb(255, 255, 255);">

    <div class="container">

    

        <div class="mbr-cards-row row">
            <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><img src="~/Scripts/assets/images/table.jpg" class="card-img-top"></div>
                        <div class="card-block">
                            <h4 class="card-title">Bootstrap 4</h4>
                            <h5 class="card-subtitle">Bootstrap 4 has been noted</h5>
                            <p class="card-text">Bootstrap 4 has been noted as one of the most reliable and proven frameworks and onedot has been equipped to develop websites using this framework.</p>
                            <div class="card-btn"><a href="http://www.onedot.red:8008" class="btn btn-primary">MORE</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><img src="~/Scripts/assets/images/desktop.jpg" class="card-img-top"></div>
                        <div class="card-block">
                            <h4 class="card-title">Responsive</h4>
                            <h5 class="card-subtitle">One of Bootstrap 4's big points</h5>
                            <p class="card-text">One of Bootstrap 4's big points is responsiveness and onedot makes effective use of this by generating highly responsive website for you.</p>
                            <div class="card-btn"><a href="http://www.onedot.red:8008" class="btn btn-primary">MORE</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-cards-col col-xs-12 col-lg-4" style="padding-top: 80px; padding-bottom: 80px;">
                <div class="container">
                    <div class="card cart-block">
                        <div class="card-img"><img src="~/Scripts/assets/images/coworkers.jpg" class="card-img-top"></div>
                        <div class="card-block">
                            <h4 class="card-title">Web Fonts</h4>
                            <h5 class="card-subtitle">Google has a highly exhaustive list of fonts</h5>
                            <p class="card-text">Google has a highly exhaustive list of fonts compiled into its web font platform and onedot makes it easy for you to use them on your website easily and freely.</p>
                            <div class="card-btn"><a href="http://www.onedot.red:8008" class="btn btn-primary">MORE</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="mbr-section mbr-section-md-padding mbr-parallax-background" id="social-buttons2-4" data-rv-view="23"
         style="background-image: url(../../Scripts/assets/images/landscape3.jpg); padding-top: 90px; padding-bottom: 90px;">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">FOLLOW US</h3>
                <div><a class="btn btn-social" title="Twitter" target="_blank" href="https://twitter.com/onedot">
                    <i class="socicon socicon-twitter"></i></a> <a class="btn btn-social" title="Facebook" target="_blank" href="https://www.facebook.com/pages/onedot/1616226671953247">
                    <i class="socicon socicon-facebook"></i></a> <a class="btn btn-social" title="Google+" target="_blank" href="https://plus.google.com/u/0/+Mobirise/posts">
                    <i class="socicon socicon-googleplus"></i></a> <a class="btn btn-social" title="YouTube" target="_blank" href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw">
                    <i class="socicon socicon-youtube"></i></a> <a class="btn btn-social" title="Instagram" target="_blank" href="https://instagram.com/mobirise/">
                    <i class="socicon socicon-instagram"></i></a> <a class="btn btn-social" title="Pinterest" target="_blank" href="https://www.pinterest.com/mobirise/">
                    <i class="socicon socicon-pinterest"></i></a> <a class="btn btn-social" title="Tumblr" target="_blank" href="http://mobirise.tumblr.com/">
                    <i class="socicon socicon-tumblr"></i></a> <a class="btn btn-social" title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/mobirise">
                    <i class="socicon socicon-linkedin"></i></a> <a class="btn btn-social" title="VKontakte" target="_blank" href="#"><i class="socicon socicon-vkontakte"></i>
                           </a> 
                <a class="btn btn-social" title="Odnoklassniki" target="_blank" href="#">
                    <i class="socicon socicon-odnoklassniki"></i>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</section>



@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h1>@(ViewBag.Now)</h1>


<button class="btn-lg btn-primary"  onclick="getajax()">
    测试ajaxerror
</button>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>






<script>


    function getajax() {
        $.get("/home/textajax",
            { name: "seanmoo" },
            function (data, state, other) {
                console.info(other);
        },"json")
    }



</script>*@