@using one.OneDot.ViewModels
@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
}


@{ 
    Html.RenderPartial("UI/_Slide", ViewBag.Slides as List<SlidesViewModels>);
  }


<section class="cid-quB7XdoPAt" id="pricing-tables2-g" data-rv-view="553">


    <div class="container">
        <div class="media-container-row">
            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        基础版(Standart)
                    </h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            35
                        </span>
                        <small class="price-term mbr-fonts-style display-7">
                            per month
                        </small>
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                OneDot is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                5 GB Bandwidth
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5">
                        <a href="http://www.onedot.red:8008" class="btn btn-primary">BUY NOW</a>
                    </div>
                </div>
            </div>
            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        商业版(Buisness)
                    </h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            65
                        </span>
                        <small class="price-term mbr-fonts-style display-7">
                            per day
                        </small>
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                OneDot is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                10 GB Bandwidth
                            </li>
                            <li class="list-group-item">
                                Free Domain
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5">
                        <a href="http://www.onedot.red:8008" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>
            <div class="plan col-12 mx-2 my-2 justify-content-center favorite col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        加强版(Premium)
                    </h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            90
                        </span>
                        <small class="price-term mbr-fonts-style display-7">
                            per year
                        </small>
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                OneDot is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                15 GB Bandwidth
                            </li>
                            <li class="list-group-item">
                                Free Domain
                            </li>
                            <li class="list-group-item">
                                Backup
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5">
                        <a href="http://www.onedot.red:8008" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>
            <div class="plan col-12 mx-2 my-2 justify-content-center col-lg-3">
                <div class="plan-header text-center pt-5">
                    <h3 class="plan-title mbr-fonts-style display-5">
                        完整版(Ultimate)
                    </h3>
                    <div class="plan-price">
                        <span class="price-value mbr-fonts-style display-5">
                            $
                        </span>
                        <span class="price-figure mbr-fonts-style display-1">
                            150
                        </span>
                        <small class="price-term mbr-fonts-style display-7">
                            per hour
                        </small>
                    </div>
                </div>
                <div class="plan-body">
                    <div class="plan-list align-center">
                        <ul class="list-group list-group-flush mbr-fonts-style display-7">
                            <li class="list-group-item">
                                OneDot is perfect for non-techies who are not familiar with web development.
                            </li>
                            <li class="list-group-item">
                                10 GB Bandwidth
                            </li>
                            <li class="list-group-item">
                                Free Domain
                            </li>
                            <li class="list-group-item">
                                Backup
                            </li>
                            <li class="list-group-item">
                                24/7 Support
                            </li>
                        </ul>
                    </div>
                    <div class="mbr-section-btn text-center py-4 pb-5">
                        <a href="http://www.onedot.red:8008" class="btn btn-primary display-4">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@*@{
    Html.RenderPartial("UI/_Table");
}*@


<style>

    /*.cid-quB7XdoPAt * {
        padding:6px 0;
    }*/


    .cid-quB7XdoPAt {
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: #efefef;
    }

    .cid-qurPtNxpG6 .full-screen .carousel-item .container.container-slide {
        min-height: 80vh;
    }

    .cid-qurPtNxpG6 .full-screen .slider-fullscreen-image {
        min-height: 80vh;
    }

</style>

