
<section class="section-table cid-quVr6XzHnR" id="table1-i" data-rv-view="321">



    <div class="container container-table">
        <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-5">
            功能明细
        </h2>
        <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-4">
            下表中标示了每个版本的具体功能，用户可以根据需要购买相应的版本。
        </h3>
        <div class="table-wrapper">
            <div class="container">
                <div class="row search">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="dataTables_filter">
                            <label class="searchInfo">Search:</label>
                            <input class="form-control input-sm" disabled="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container scroll">
                <table class="table isSearch" cellspacing="0">
                    <thead>
                        <tr class="table-heads ">
                            <th class="head-item mbr-fonts-style display-7">
                                NAME
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                AGE
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                DATE
                            </th>
                            <th class="head-item mbr-fonts-style display-7">
                                SALARY
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>

                            <td class="body-item mbr-fonts-style display-7">Jeanna Schmal</td>
                            <td class="body-item mbr-fonts-style display-7">44</td>
                            <td class="body-item mbr-fonts-style display-7">2016-10-17</td>
                            <td class="body-item mbr-fonts-style display-7">$317.000</td>
                        </tr>
                        <tr>
                            <td class="body-item mbr-fonts-style display-7">Caren Rials</td>
                            <td class="body-item mbr-fonts-style display-7">35</td>
                            <td class="body-item mbr-fonts-style display-7">2013-04-12</td>
                            <td class="body-item mbr-fonts-style display-7">$445.500</td>
                        </tr>
                        <tr>
                            <td class="body-item mbr-fonts-style display-7">Leon Rogol</td>
                            <td class="body-item mbr-fonts-style display-7">66</td>
                            <td class="body-item mbr-fonts-style display-7">2016-05-22</td>
                            <td class="body-item mbr-fonts-style display-7">$152.558</td>
                        </tr>
                        <tr>
                            <td class="body-item mbr-fonts-style display-7">Shala Barrera</td>
                            <td class="body-item mbr-fonts-style display-7">70</td>
                            <td class="body-item mbr-fonts-style display-7">2016-05-15</td>
                            <td class="body-item mbr-fonts-style display-7">$459.146</td>
                        </tr>
                        <tr>

                            <td class="body-item mbr-fonts-style display-7">Jeanna Schmal</td>
                            <td class="body-item mbr-fonts-style display-7">44</td>
                            <td class="body-item mbr-fonts-style display-7">2016-10-17</td>
                            <td class="body-item mbr-fonts-style display-7">$317.000</td>
                        </tr>
                        <tr>
                            <td class="body-item mbr-fonts-style display-7">Caren Rials</td>
                            <td class="body-item mbr-fonts-style display-7">35</td>
                            <td class="body-item mbr-fonts-style display-7">2013-04-12</td>
                            <td class="body-item mbr-fonts-style display-7">$445.500</td>
                        </tr>
                        <tr>
                            <td class="body-item mbr-fonts-style display-7">Leon Rogol</td>
                            <td class="body-item mbr-fonts-style display-7">66</td>
                            <td class="body-item mbr-fonts-style display-7">2016-05-22</td>
                            <td class="body-item mbr-fonts-style display-7">$152.558</td>
                        </tr>
                        <tr>
                            <td class="body-item mbr-fonts-style display-7">Shala Barrera</td>
                            <td class="body-item mbr-fonts-style display-7">70</td>
                            <td class="body-item mbr-fonts-style display-7">2016-05-15</td>
                            <td class="body-item mbr-fonts-style display-7">$459.146</td>
                        </tr>
                        <tr>

                            <td class="body-item mbr-fonts-style display-7">Jeanna Schmal</td>
                            <td class="body-item mbr-fonts-style display-7">44</td>
                            <td class="body-item mbr-fonts-style display-7">2016-10-17</td>
                            <td class="body-item mbr-fonts-style display-7">$317.000</td>
                        </tr>
                        <tr>
                            <td class="body-item mbr-fonts-style display-7">Caren Rials</td>
                            <td class="body-item mbr-fonts-style display-7">35</td>
                            <td class="body-item mbr-fonts-style display-7">2013-04-12</td>
                            <td class="body-item mbr-fonts-style display-7">$445.500</td>
                        </tr>
                        <tr>
                            <td class="body-item mbr-fonts-style display-7">Leon Rogol</td>
                            <td class="body-item mbr-fonts-style display-7">66</td>
                            <td class="body-item mbr-fonts-style display-7">2016-05-22</td>
                            <td class="body-item mbr-fonts-style display-7">$152.558</td>
                        </tr>
                        <tr>
                            <td class="body-item mbr-fonts-style display-7">Shala Barrera</td>
                            <td class="body-item mbr-fonts-style display-7">70</td>
                            <td class="body-item mbr-fonts-style display-7">2016-05-15</td>
                            <td class="body-item mbr-fonts-style display-7">$459.146</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <div class="row info">
                    <div class="col-md-6">
                        <div class="dataTables_info">
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</section>