
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



<a href="@(Url.Action("Index", "python", new { area = "stocks", execCategory  = 1}))">执行Python Script</a>

<br />
<br />
<br />