
@{
    ViewBag.Title = "stockgate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/kendo/2013020918/kendo.common.css" rel="stylesheet" />
<link id="cssSelectLink" href="~/Content/kendo/2013020918/kendo.bootstrap.min.css" rel="stylesheet" />



<br />
<br />
<br />
<br />
<br />
<br />
<section class="features8 cid-qurPIJDjeW mbr-parallax-background" id="features8-3" data-rv-view="382">

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(35, 35, 35);">
    </div>
    <div class="container">
        <div class="media-container-row">
            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img">
                    <span class="mbri-desktop mbr-iconfont" media-simple="true"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">
                        横盘放量，有可能拉升
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        对于长期横盘的股票，一旦有利好，会先从股票的成交量初步反应出来，在消息公布后会进一步拉升。
                    </p>
                    <div class="mbr-section-btn text-center">
                        <a href="@(Url.Action("hover_Pickup","analy",new { area = "stocks"}))" class="btn btn-white-outline display-4">
                            进入查看
                        </a>
                    </div>
                </div>
            </div>
            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img">
                    <span class="mbri-touch mbr-iconfont" media-simple="true"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">
                        Mobile Friendly
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        All sites you make with OneDot are mobile-friendly. You don't have to create a special mobile version of your site.
                    </p>
                    <div class="mbr-section-btn text-center">
                        <a href="http://www.onedot.red:8008" class="btn btn-white-outline display-4">
                            More
                        </a>
                    </div>
                </div>
            </div>
            <div class="card  col-12 col-md-6 col-lg-4">
                <div class="card-img">
                    <span class="mbri-responsive mbr-iconfont" media-simple="true"></span>
                </div>
                <div class="card-box align-center">
                    <h4 class="card-title mbr-fonts-style display-7">
                        Unique Styles
                    </h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                        OneDot offers many site blocks in several themes, and though these blocks are pre-made, they are flexible.
                    </p>
                    <div class="mbr-section-btn text-center">
                        <a href="http://www.onedot.red:8008" class="btn btn-white-outline display-4">
                            More
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
