
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div class="center-block">

    <div class=" mbr-section-btn" style="display:inline-block">

        <button type="submit" class="btn btn-sm btn-normal display-4">
            <span class="mbri-sites mbr-iconfont mbr-iconfont-btn ">
            </span>
            提交查询
        </button>

    </div>





</div>


