@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>测试viewstart</h1>*@


@*@{
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
    if (controller == "Home")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Blank.cshtml";
    }
}*@