


<br />
<br />
<br />
<br />

<div class="row">

    <div class="col-lg-6">
        @Html.Partial("PP/_ChangePassword")
    </div>

    <div class="col-lg-6">

        @Html.Partial("PP/_SetCulture")

    </div>



</div>


<br />
<br />
<br />
<br />