<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  
  
  
  <connectionStrings>

    <!--<add name="DefaultConnection" 
         connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-onedot-20170611014247.mdf;Initial Catalog=aspnet-onedot-20170611014247;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=120.27.150.34;Initial Catalog=OneDot;User ID=Work@BlttMaldives;Password=BLTT@dolphin#8EF" providerName="System.Data.SqlClient" />-->
    <add name="Stocks" connectionString="Data Source=120.27.150.34;Initial Catalog=tushare;User ID=tushare;Password=tushare" providerName="System.Data.SqlClient" />
    <add name="StockEntities" connectionString="metadata=res://*/Areas.Stocks.Models.StockModels.csdl|res://*/Areas.Stocks.Models.StockModels.ssdl|res://*/Areas.Stocks.Models.StockModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.27.150.34;initial catalog=tushare;persist security info=True;user id=tushare;password=tuShare;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="StockEntities" connectionString="metadata=res://*/Areas.Stocks.Models.StockModels.csdl|res://*/Areas.Stocks.Models.StockModels.ssdl|res://*/Areas.Stocks.Models.StockModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.27.150.34;initial catalog=tushare;persist security info=True;user id=tushare;password=tuShare;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  


    <add name="DefaultConnection" connectionString="Data Source=120.27.150.34;Initial Catalog=OneDot;User ID=OneDot@User;Password=Sean123456@" providerName="System.Data.SqlClient" />
    <add name="OneDotEntities" connectionString="metadata=res://*/Models.OneDotEntities.csdl|res://*/Models.OneDotEntities.ssdl|res://*/Models.OneDotEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.27.150.34;initial catalog=OneDot;user id=OneDot@User;password=Sean123456@;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  </connectionStrings>  
  
  
  
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--设定log4net日志文件存储路径-->
    
    <add key="LogFilePath" value="c:\logger\gg" /> 



    <!--邮件服务器设置-->
    <add key="CheckEmailOfUser" value="Disable" /> 
    <add key="FromMailAddress" value="it@blttmaldives.com" />
    <add key="MailHost" value="smtp.263.net" />
    <add key="EmailPort" value="25" />
    <add key="EmailUsername" value="it@blttmaldives.com" />
    <add key="EmailPassword" value="sean195210@" />
    
    <!--  说明：EmailCheckUserIdentity 为是否启用 邮件检测用户身份[Enable][Disable]  -->



    <!--   -->

    <add key="SecondCacheDuration" value="6000" />
    
    <add key="PageCacheDuration" value="6000" />
    
    <add key="EmailPort" value="25" />
    
    <add key="EmailPort" value="25" />
    
    <add key="EmailPort" value="25" />
    
    <add key="EmailPort" value="25" />
    
    <add key="EmailPort" value="25" />

    <!--   -->


    <!--  python invoke part -->

    <add key="Python_libs" value="C:\Python352_64\libs" />
    <add key="Python_lib" value="C:\Python352_64\lib" />

    <!--  python invoke part -->
    
  </appSettings>
  
  
  
  
  <system.web>

    
    <!-- 经典模式下的设置
    <httpModules>
      <add name="SecurityCheck" type="HttpCheck.SecurityCheck, HttpCheck"/>  
    </httpModules>-->
    

    <compilation debug="true" targetFramework="4.5" />
    <!--定义全局页面的内码 区域  -->
    <globalization enableClientBasedCulture="true" culture="auto" uiCulture="auto" />
    
    <!--<globalization enableClientBasedCulture="true"  requestEncoding="utf-8" responseEncoding="utf-8" culture="auto" uiCulture="auto" />-->
    
    
    
    <sessionState cookieName="OneDotUser" />
    <!--必须有的属性是
    属性 选项 描述
    mode  设置将Session信息存储到哪里
    Off 设置为不使用Session功能
    InProc 设置为将Session存储在进程内，就是ASP中的存储方式，这是默认值。
    StateServer 设置为将Session存储在独立的状态服务中。
    SQLServer 设置将Session存储在SQL Server中。

    可选的属性是：
    属性 选项 描述
    cookieless  设置客户端的Session信息存储到哪里
    ture 使用Cookieless模式
    false 使用Cookie模式，这是默认值。
    timeout  设置经过多少分钟后服务器自动放弃Session信息。默认为20分钟
    stateConnectionString  设置将Session信息存储在状态服务中时使用的服务器名称和端口号，例如："tcpip=127.0.0.1:42424”。
    当mode的值是StateServer是，这个属性是必需的。
    sqlConnectionString  设置与SQL Server连接时的连接字符串。例如"data source=localhost;Integrated Security=SSPI;Initial Catalog=northwind"。
    当mode的值是SQLServer时，这个属性是必需的。
    stateNetworkTimeout  设置当使用StateServer模式存储Session状态时，经过多少秒空闲后，断开Web服务器与存储状态信息的服务器的TCP/IP连接的。
    默认值是10秒钟。-->


   
    <!--
      Mvc5 更改为服务器端设置。startup文件中。
     <authentication mode="Forms">
      --><!--<forms name="login" loginUrl="/account/login"  protection="Encryption"   timeout="30" path="/" >--><!--
        <forms loginUrl="~/Account/Login" timeout="60" name=".BaiyueId" cookieless="UseCookies"  path= "/" defaultUrl="~/home/index" >
        --><!--<requireSSL="false"  slidingExpiration="true|false" />--><!--
       
      </forms>
      --><!--<passport redirectUrl="internal"/>--><!--
    </authentication>-->



   
    
    <httpRuntime targetFramework="4.5" executionTimeout="600" maxRequestLength="951200" />
    <!--httpRuntime是配置asp.net http运行时设置，以确定如何处理对asp.net应用程序的请求。
    executionTimeout:表示允许执行请求的最大时间限制，单位为秒
    maxRequestLength：指示 ASP.NET 支持的最大文件上载大小。该限制可用于防止因用户将大量文件传递到该服务器而导致的拒绝服务攻击。
    指定的大小以 KB 为单位。默认值为 4096 KB (4 MB)。
    useFullyQualifiedRedirectUrl：表示指示客户端重定向是否是完全限定的（采用 "http://server/path" 格式，这是某些移动控件所必需的），
    或者指示是否代之以将相对重定向发送到客户端。如果为 True，则所有不是完全限定的重定向都将自动转换为完全限定的格式。false 是默认选项。
    minFreeThreads：表示指定允许执行新请求的自由线程的最小数目。ASP.NET 为要求附加线程来完成其处理的请求而使指定数目的线程保持自由状态。默认值为 8。
    minLocalRequestFreeThreads：表示ASP.NET 保持的允许执行新本地请求的自由线程的最小数目。该线程数目是为从本地主机传入的请求而保留的，
    以防某些请求在其处理期间发出对本地主机的子请求。这避免了可能的因递归重新进入 Web 服务器而导致的死锁。
    appRequestQueueLimit：表示ASP.NET 将为应用程序排队的请求的最大数目。当没有足够的自由线程来处理请求时，将对请求进行排队。
    当队列超出了该设置中指定的限制时，将通过“503 - 服务器太忙”错误信息拒绝传入的请求。
    enableVersionHeader：表示指定 ASP.NET 是否应输出版本标头。Microsoft Visual Studio 2005 使用该属性来确定当前使用的 ASP.NET 版本。
    对于生产环境，该属性不是必需的，可以禁用。-->

    <!--***************************************************************************************************************************************************-->
    <!--<roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>-->
    <!--***************************************************************************************************************************************************-->

    <customErrors mode="On">     
    </customErrors>
    
    
    <!--<customErrors mode="On" defaultRedirect="/error/httperror">
      <error redirect="/error/notfound?code=404" statusCode="404" />
      <error redirect="/error/internalerror?code=500" statusCode="500" />
    </customErrors>-->
    
    
    
    <!--***************************************************************************************************************************************************-->
    <caching>
      <outputCache enableOutputCache="false" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache10Seconds" duration="10" varyByParam="none" />
          <add name="Cache15Seconds" duration="10" varyByParam="none" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>

    <!--***************************************************************************************************************************************************-->
    <!--<httpModules>
      <add name="OutputCache" type="System.Web.Caching.OutputCacheModule" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </httpModules>-->

    <!--***************************************************************************************************************************************************-->
    

  </system.web>
  
  
  
  
  <system.webServer>

    
    <!--<httpErrors existingResponse="PassThrough" />-->
    
    

    <modules>
      <!--<remove name="FormsAuthentication" />-->
      <!--<add name="myModule" type="FastDoge.Study.MyModule"/>-->
      
      
      <!--<add name="SecurityCheck" type="HttpCheck.SecurityCheck"/>-->
      
      <!--preCondition="managedHandler" 加上选项后将不对静态文件进行处理-->
      <remove name="SecurityCheck" />
      <add name="SecurityCheck" type="HttpCheck.SecurityCheck,HttpCheck" preCondition="managedHandler" />

    </modules>

    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <clear />
      <error statusCode="404" path="/error.html" responseMode="ExecuteURL" />
    </httpErrors>-->

    
  </system.webServer>


  
  
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Kendo.Mvc" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.2.918.340" newVersion="2013.2.918.340" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>







  <system.net>
    <mailSettings>

      <!--
      <smtp from="mujiangkun@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="mujiangkun@gmail.com" password="sean195210" />
      </smtp>
      -->
      <!--<smtp from="admin@blttmaldives.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="admin@blttmaldives.com" password="blttadmin" />
      </smtp>-->


      <!-- Method#1: Configure smtp server credentials 465 -->
      <smtp from="it@blttmaldives.com">
        <network enableSsl="true" host="smtp.263.net" port="25" userName="it@blttmaldives.com" password="sean195210@" />
      </smtp>
    </mailSettings>
  </system.net>
  
  
</configuration>